/* base styles */
body{
  margin: 5%;
}
main{
  padding: 2% 0;
}
p {
  margin: 0;
}
header {
  background-color: #BBB;
  padding: 30px;
}
footer {
  background-color: #888;
  padding: 30px;
}
article, aside{
  box-sizing: border-box;
  border: 2px solid #b6b6b6;
  height: 100px;
  margin-bottom: 30px;
}
aside{
  height: 230px;
}

/* Floated layouts */
.fl{
  float: left;
}
.fr{
  float: right;
}
.w20{
  width: 20%;
}
.w30{
  width: 30%;
}
.w48{
  width: 48%;
}
.w75{
  width: 75%;
}
.mr5{
  margin-right:5%;
}

/**
 * Clear fix
 */
.cf::before,
.cf::after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf::after {
  clear: both;
}


/** /////////////////////////////*/



