/* base styles */
body {
  margin: 0;
}

p {
  margin: 0;
}

header {
  background-color: #BBB;
  padding: 30px;
}

main {
  padding: 30px;
}

footer {
  background-color: #888;
  padding: 30px;
}
*{
  box-sizing: border-box;
}
/**
 * Clear fix
 */
.cf::before,
.cf::after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf::after {
  clear: both;
}


/** /////////////////////////////*/
body{
  margin: 5%;
}
main{
  padding: 2% 0;
}
.logo{
  float:left;
}
.navMenu{
  float: right;
}
.contentSlider{
  border: 2px solid #888888;
  margin-bottom: 2%;
  height: 100px;
}
.sideContainerL{
  float: left;
  width: 75%;
}
.sideContainerR{
  float: right;
  border: 2px solid #888888;
  width: 25%;
  height: 230px;
}
.smArticle{
  float: left;
  border: 2px solid #888888;
  width: 20%;
  margin-right:6%;
  height: 100px;
}
.smArticleR{
  margin-right: 0;
}
.mdArticle{
  float: left;
  border: 2px solid #888888;
  width: 48%;
  height: 100px;
}
.mdArticleR{
  float: right;
  border: 2px solid #888888;
  width: 48%;
  height: 100px;
}
.tpSection{
  margin-bottom: 30px;
}
.btSection{
  width: 98%;
}
footer{

}
@media (max-width: 968px){
  .smArticle{
    margin-right:6.66666666666666%;
  }
  .smArticleR{
    margin-right: 0;
  }
  .btSection{
    width: 100%;
  }
  .sideContainerL{
    width: 100%;
    margin-bottom: 5%;
  }
  .sideContainerR{
    width: 100%;
  }
}
@media (max-width: 500px){
  .smArticle{
    float: none;
    width: 100%;
    margin-bottom: 5%;
  }
}


